# --- ENVIRONMENTS ---
venv/
.env
*.env

# --- PYTHON CACHE ---
__pycache__/
*.py[cod]
*.so

# --- JUPYTER NOTEBOOK ---
.ipynb_checkpoints/

# --- OS FILES ---
.DS_Store
Thumbs.db

# --- VS CODE SETTINGS ---
.vscode/

# --- LOGS ---
*.log

# --- TEST / TEMP FILES ---
*.tmp
*.bak
